<html ng-app="books">
    <head>
        <title></title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angular-growl.min.css")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.at("javascripts/angular-resource.min.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.at("javascripts/controllers/books.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.at("javascripts/services/books.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.at("javascripts/services/authentication.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-strap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-growl.min.js")"></script>
    </head>
    <body>
        <div ng-controller="booksCtrl">
            <div class="navbar navbar-inverse ">
                <div class="navbar-inner">
                    <div class="container pull-right">
                        <a class="brand pull-right" href="#">Logged as : {{user.username}}</a>

                        <button type="button" class="btn  pull-right" bs-modal="'/assets/partials/modal.html'">Change</button>
                    </div>
                </div>
            </div>



            <div class="navbar navbar-inverse ">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#">Title</a>
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#" ng-click="myBooks()">My Books</a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">

                <br />
                <br />
                <div class="navbar-search pull-left bs-docs-example">

                    <input ng-model="search.bookTitle" placeholder="Filter title" class="search-query" type="text" id="filter"/>
                </div>
                <input class="btn" ng-click="resetSearch()" value="Clear filter" type="button">
                <ul class="nav nav-list">
                    <li class="divider"></li>
                </ul>
                <h2>List of books in the library</h2>

                <ng-include src="'/assets/partials/books.html'" >

                </ng-include>

                <div growl>

                </div>

            </div>
        </div>
    </body>
</html>
