<h2>Books borrowed by [{{user.username}}]</h2>
<table class="table table-striped" ng-show="userBooks">
    <tr>
        <th>Book Title</th>
        <th>Book Category</th>
        <th>Borrowed by</th>
        <th>Borrowed Date</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="book in userBooks | filter:search.bookTitle" >
        <td>{{book.bookTitle}}</td>
        <td>{{book.bookCategory}}</td>
        <td>{{book.userBorrowed}}</td>
        <td>{{book.borrowedOn}}</td>
        <td>

            <input
                    ng-show="book.userBorrowed == null"
                    class="btn btn-success" type="button"
                    ng-click="borrow(book.bookId)" value="Borrow"/>

            <input class="btn btn-info" ng-show="book.userBorrowed == user.username" type="button" ng-click="return(book.bookId)" value="Return"/>
            <input class="btn " type="button"
                   ng-show="book.userBorrowed != null && book.userBorrowed != user.username"
                   value="Not available" disabled/>
        </td>
    </tr>
</table>

        <div class="alert alert-danger" ng-hide="userBooks">
            <p>You have not borrowed any books <a class="btn btn-info" href="/">Borrow one</a> </p>
        </div>